{% extends 'dashboard/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block tabContentArea %}
    
    <h3>New question to faq (<em>{{faq.name}}</em>)</h3>

    {{ form_start(form, { 'attr': {'class': 'mt-3'} })}}

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.content) }}</lablel>
                    {{ form_errors(form.content, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.content, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.content) }}
                </div>
            </div>
        </div>

        {# <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.answer) }}</lablel>
                    {{ form_errors(form.answer, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.answer, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.answer) }}
                </div>
            </div>
        </div> #}

        {# <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.platform) }}</lablel>
                    {{ form_errors(form.platform, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.platform, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.platform) }}
                </div>
            </div>
        </div> #}

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.save) }}</lablel>
                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                </div>
            </div>
        </div>

    {{ form_end(form)}}

{% endblock %}