{% extends 'dashboard/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block tabContentArea %}
    
    <h3>New faq</h3>

    {{ form_start(form, { 'attr': {'class': 'mt-3'} })}}

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.name) }}</lablel>
                    {{ form_errors(form.name, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.name) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.description) }}</lablel>
                    {{ form_errors(form.description, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.description, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.description) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.platform) }}</lablel>
                    {{ form_errors(form.platform, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.platform, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.platform) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.save) }}</lablel>
                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                </div>
            </div>
        </div>

    {{ form_end(form)}}

{% endblock %}