{% extends 'dashboard/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block tabContentArea %}
    
    <h3>New platform</h3>

    {{ form_start(form, { 'attr': {'class': 'mt-3'} })}}

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.name) }}</lablel>
                    {{ form_errors(form.name, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.name) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.catisId) }}</lablel>
                    {{ form_errors(form.catisId, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.catisId, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.catisId) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.faq) }}</lablel>
                    {{ form_errors(form.faq, { 'attr': {'class': ''} }) }}
                    {{ form_widget(form.faq, { 'attr': {'class': 'form-control', "autofocus": null} }) }}
                    {{ form_help(form.faq) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <lablel class="control-label">{{ form_label(form.save) }}</lablel>
                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                </div>
            </div>
        </div>

    {{ form_end(form)}}

{% endblock %}